<p style="color: green"><%= notice %></p>

<%= render @quiz %>

<div>
  <%= link_to "Back to quizzes", quizzes_path, class:'btn btn-secondary' %>

  <%= button_to "Delete this quiz", @quiz, method: :delete, class:'btn btn-danger' %>
</div>
