<div class="container">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">The ultimate quiz-making app: Quizzly</h1>
        <p class="lead">
          With Quizzly, you can easily create custom quizzes on any subject, tailored specifically to the needs and abilities of your students. Our AI-powered app generates fresh and challenging questions on any topic from math to science to geography and beyond. Simply tell us what you need, and our AI will do the rest!</p>

          <p class="lead">Quizzly is perfect for both in-class and remote learning, with a variety of question types including multiple choice, true/false, and fill-in-the-blank. With features such as adjustable difficulty levels and customizable question types, our app streamlines the assessment-making process, freeing up valuable time for teachers to focus on other important aspects of their teaching. </p>

          <p class="lead">With our easy-to-use interface, you'll be creating quizzes in no time. Sign up for Quizzly today!</p>
      </div>
      </div>
    </div>
  </div>
</div>